* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    background-color: steelblue;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    border-bottom: whitesmoke;
    color: steelblue;
    margin: 20px 0; /* Spacing around the title */
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    margin: 0; /* Remove default margin */
    padding: 10px 0; /* Spacing above and below the paragraph */
}

header, .grid, footer{
    max-width: 840px;
    margin: 0 auto;
}

.grid{
    display: grid;
    align-items: center;
}

main {
    margin: 0;
    grid-column: 2 / 3;
    margin: 1rem;
}

/* Styles for images within the main content */
main img {
    float: right;
    width: 150px;
    height: auto;
}

/* Styles for the sidebar */
aside{
    width: 20rem;
    margin: 10px;
    text-align: center;
    position: relative; /* Ensure child elements are positioned correctly */
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

/* Styles for images within the sidebar */
aside img {
    width: 200px; 
    height: auto;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}
/* Styles for the header within the sidebar */
aside h2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0; /* Remove default margin */
    padding: 10px; /* Add spacing around the header */
}


